body{
	background-color: #939393;
	font-size: large;
}

.err{
	border: 2px solid #ff0000;
}

input{
	background-color: #3CBC8D;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px solid #000000;
	color: white;
}

input:focus {
	border: 3px solid #555;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

input:disabled{
	background: #dddddd;
	cursor: default;
}
